/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); 

body {
  /* custom properties */
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: .8rem;
  --margin-xxs: .5rem;

  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: .8rem;
  --padding-xxs: .5rem;

  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: rgb(240, 244, 248);
}

.App{
  display: flex;
}
